<mat-card>
    <table mat-table [dataSource]="users">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let user"> {{user.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let user"> {{user.description}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="urlhtml">
            <th mat-header-cell *matHeaderCellDef> Repositório </th>
            <td mat-cell *matCellDef="let user"> <a style="color: white;" href="{{user.url_html}}" target="_blank"> Link </a></td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef> Usuário </th>
            <td mat-cell *matCellDef="let user"> {{user.owner.login}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator> -->
</mat-card>